body {

}

h1 {
  color: #DA4167;
}

h4 {

}

input {
/*  position: absolute;
  left: 95px;
  width: 300px;
  height: 17px;*/
}

#addTask, #newTask, #counter {
  display: inline-block;
}


button {

}
