body {

}

h1 {
  color: #DA4167;
}

h4 {

}

input {
}

#addTask, #newTask, #counter {
  display: inline-block;
}

svg {
  position: absolute;
  top: 35%;
  right: 20%;
}

ul {
  list-style-type: none;
}

button {

}
