<!DOCTYPE html>
<html ng-app='toDone'> 
  <head>
    <meta charset='utf-8' />
    <title> toDone </title>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js'></script>
    <link rel='stylesheet' type='text/css' href='../styles/style.css' />
    <script src='app.js'></script>
  </head>

  <body>
    <h1> toDone </h1>
    <h4> what do you want to get done today </h4>

    <div id='view' ng-controller='taskListCtrl'> 
      <form id='newTask' ng-submit='addTask()'>
        <input id='taskText' type="text" ng-model='task' placeholder='it shall be done'/>
        <p id='counter'> {{ counter }} </p>
      </form>
      <ul>
          <li ng-click='deleteTask($index)' ng-repeat='task in tasks track by $index'> {{ task['toDo'] }} <br></li>
      </ul>
      <svg id="canvas" ng-model='task' ng-attr-height= "{{graphHeight}}" ng-attr-width="{{graphWidth}}">
        <rect ng-repeat='task in tasks track by $index'          
          x = '{{ $index * 100}}'
          width='100'
          height='350'
          fill='#BDE4A7'/>
      </svg>     
    </div>

  </body>
</html>

<!-- <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">  
    <circle ng-repeat="circle in circles" 
        ng-attr-cx="{{circle.x}}" 
        ng-attr-cy="{{circle.y}}" 
        ng-attr-r= "{{circle.r}}">
    </circle>
</svg>  -->














